<!DOCTYPE html>
 <html>
     <head>
         <title>Modele-ad9bis - 15% rabat!</title>
         <meta charset="UTF-8">
     </head>
     <body>
	    <h2>Witaj <b>{{data.customer.firstname}} {{data.customer.lastname}}!</b></h2>
	    <div style="width: 70%;">
		  <p>
			Dziękujemy za kolejny zakup złożony w sklepie Modele-ad9bis.pl!
		  </p>      
		  <p>      
			W związku z faktem, iż było to 6. zamówienie spełniające kryteria promocji, przysługuje Ci 15% rabat.
		  </p>
	    </div>
	    <h3>Poniżej znajdują się szczegóły Twojego zamówienia z ówzględnieniem wspomnianego rabatu:</h3>
	    <br>
	    <div style="width: 80%;">
		 <table style="padding-top: 1%; padding-bottom: 1%; border: 2px solid; border-radius: 10px; background-color: #DCDCDC;">
			<tr>
			    <th style="width: 39%; text-align: left;">Nazwa</th>
			    <th style="width: 9%; text-align: left;">Cena<br>za sztukę</th>
			    <th style="width: 7%; text-align: center;">Zniżka</th>
			    <th style="width: 9%; text-align: center">Ilość</th>
			    <th style="width: 10%; text-align: left;">Suma</th>
			    <th style="width: 13%; text-align: left;">Cena<br>po rabacie</th>
			    <th style="width: 13%; text-align: left;">Suma<br>po rabacie</th>
			</tr>
			{% for result in data.cartDetails %}
			    <tr>
				  <td style="width: 39%; text-align: left;">{{ result.productName }}.</td>
				  <td style="width: 9%; text-align: left;">{{ result.unitPrice }} zł</td>
				  <td style="width: 7%; text-align: center;">{{ result.reduction }}</td>
				  <td style="width: 9%; text-align: center;">{{ result.productQuantity }}</td>
				  <td style="width: 10%; text-align: left;">{{ result.totalPrice }} zł</td>
				  <td style="width: 13%; text-align: left;">{{ result.unitPriceDiscount }} zł</td>
				  <td style="width: 13%; text-align: left;">{{ result.totalPriceDiscount }} zł</td>
			    </tr>
		      {% endfor %}
		 </table>
	    </div>
	    <br>
	  <br>
	  <div>
		<table style="padding: 1%; width:40%; border: 2px solid; border-radius: 10px; background-color: #DCDCDC;">
		      <tr>
			    <td style="line-height: 150%;">Suma wszystkich produktów: </td>
			    <td style="text-align: right;"><b>{{ data.totalProduct }} zł</b></td>
		      </tr>
		      <tr>
			    <td style="line-height: 150%;">Suma wszystkich produktów po rabacie: </td>
			    <td style="color: #A52A2A; text-align: right;"><b>{{ data.totalProductDiscount }} zł</b></td>
		      </tr>
		      <tr>
		            <td style="line-height: 150%;">Suma produktów z wysyłką:</td>
			    <td style="text-align: right;"><b>{{ data.totalPaid }} zł</b></td>
		      </tr>
		      <tr>
		            <td style="line-height: 150%;">Suma produktów z wysyłką po rabacie:</td>
			    <td style="color: #A52A2A; text-align: right;"><b>{{ data.totalPaidDiscount }} zł</b></td>
		      </tr>
		      {% if data.discountExtended == true  %}
			    <tr style="line-height: 200%;">
				  <td style="text-align: center;"><b>UWAGA! Został przyznany maksymalny rabat w wysokości 50zł.<b></td>
			    </tr>
		      {% endif %}
		      
		</table>
	  </div>
	  {% if data.payment == "przelew bankowy"  %}
		<br>
		Wybrałeś przelew bankowy - prosimy o wpłatę na konto kwoty widocznej w niniejszym mailu.
		<br>
		Poniżej przypominamy dane do wpłaty:
		<br>
		<b><h3 class="finish1">Ad9bis PHU Albert Ducin</h3></b>
		<h4 class="finish1">ul. Świerkowa 22</h4> 
		<h4 class="finish1">20-834 Lublin,</h4>
		<h4 class="finish1">BGŻ BNP Paribas</h4>
		<b><h3 class="finish1">23 1600 1462 0008 7807 5754 2001</h3></b>
	  {% else %}
		<br>
		<p>Wybrałeś płatność przy odbiorze - przesyłka zostanie nadana możliwie szybko na adres przypisany do Twojego konta.</p>
	  {% endif %}
	  <br>
	  <div>
		Zapraszamy do korzystania z naszego sklepu w przyszłości!<br><br>
		Pozdrawiam serdecznie,<br>
		Albert Ducin<br>
		----------------------<br>
		P.H.U. Ad9bis<br>
		ul. Świerkowa 22,<br>
		20-834 - Lublin<br>
		tel. (48) 660413844<br>
		ad9bis@gmail.com<br>
		<img src="http://modele-ad9bis.pl/img/logo.jpg" />
	  </div>
      </body>
 </html>